.list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.listElement {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}
.listElement:hover {
  transform: scale(1.02);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.paragraph {
  font-size: 16px;
  color: rgb(189, 189, 189);
  margin: 0;
  /* width: 200px; */
}
