.list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  justify-content: center;
}

.listElement {
  height: auto;

  padding: 10px;
}
.paragraph {
  font-size: 15px;
  width: 200px;
}
