.list {
  list-style: none;
  margin: 0;
}

.listElement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.author {
  margin: 0;
}
.review {
  padding: 10px;
  margin: 30px;
  border: 1px solid black;
  background-color: white;
  color: black;
  max-width: 60%;
}

.noReviews {
  padding: 10px;
  font-size: 20px;
}
